* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

html, body, canvas {
  height: 100%;
  width: 100%;
}

.mute {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  color: brown;
  background-color: beige;
  border: 3px solid burlywood;
  border-radius: 5px;
}

.stats {
  position: fixed;
  color: white;
  bottom: 5px;
  left: 5px;
}

.player {
  position: fixed;
  background-repeat: no-repeat;
  background-image: url('../assets/bird.png');
  background-origin: content-box;
  background-size: 100%;
}

.pickup {
  position: fixed;
  background-repeat: no-repeat;
  background-image: url('../assets/cookie.png');
  background-origin: content-box;
  background-size: 100%;
}

.stats > span {
  margin: 10px;
}