html, body, .window {
  height: 100%;
  width: 100%;
}

.window {
  background-color: skyblue;
}

.instructions {
  color: white;
  position: fixed;
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.stats {
  position: fixed;
  color: white;
  bottom: 5px;
  left: 5px;
}

.player {
  position: fixed;
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
  background-image: url('../assets/bird.png');
  background-origin: content-box;
  background-size: 100%;
}

.stats > span {
  margin: 10px;
}